### COMP 4030 assignment 1 SOLUTION
#### Due: 09/12/2023 at 9AM

---
How to turn in your assignment:
* Write your name in the file.
* Export your notebook to an HTML file, and upload the HTML file to Canvas.

Academic misconduct:
* You must do these problems all by yourself. If you need help, reach out to the instructor or TA or both.  Do not use materials from online source or anyone else.
* Your classmate can explain to you what to do, but your classmate should not give code/answer to you.  You should not give answers/code to your classmate.   Doing so violates the course's code of conduct.

Instruction:
* In this part of the assignment, you will use the two functions we defined in class `collect` and `transform` to process some data.  **You must use either one, or both to do the problems below**.  Additionally, you might need to provide additional computation to solve these problems.
* The data you will use has 400 data points. Each data point has 4 values: admission decision to a graduate school (1 accepted, 0 not accepted), GRE score, GPA, and rank of the universiy the student is from.
* I've created a variable `data` for you to manipulate.  You can think of `data` as a list of data points.

---
### Overview
The goal of this assignment is to review and practice basic programming skills.

Prerequisite: Know Python and have programming skills at the level of 2150.

The topics are:
* Loop, iteration, iterative design patterns
* List processing and manipulation
* Functions as input
* Understanding iterative designs without actually writing loop; instead use `collect`, `transform`, `sum`, `max`, etc.

Another important skill to practice and improve is **describing your work**.
* Communicate clearly in both English and Python.
* Write in a logical and coherent way so people can read it easily.
* Write in complete sentences.
* Be concise.

---

**If you didn't have the file in the correct place, you wouldn't be able to open it.**

**Understand error messages**.

In [1]:
import pandas
data = pandas.read_csv('admission.csv').values.tolist()
data[0:5]

[[0.0, 380.0, 3.61, 3.0],
 [1.0, 660.0, 3.67, 3.0],
 [1.0, 800.0, 4.0, 1.0],
 [1.0, 640.0, 3.19, 4.0],
 [0.0, 520.0, 2.93, 4.0]]

---

**First thing first**

**Get "collect" and "transform" to this notebook.**

In [2]:
def collect(a_list, condition):
    output = []
    for item in a_list:
        if condition(item):
            output.append(item)
    return output

def transform(a_list, transformer):
    output = []
    for item in a_list:
        output.append(transformer(item))   
    return output

---
**Problem 1**

Find all data points with GPA larger than 3.5.  How many of them are there?

Be sure to answer the question(s) asked, and do what is asked. Explain your answers in English, and provide Python code to solve the problem. Be sure to read the instruction above.


Note: the "data" is a list of data points. Each data point is itself a list.

**ANSWER:**

The first task is to **collect all data points with GPA larger than 3.5**.

We must define the "condition" function to use `collect`.

Test this condition with a few sample data points.

There are 156 data points with GPA larger than 3.5.

See the code below.

In [10]:
def good_GPA(item):
    if item[2]>3.5:
        return True
    else:
        return False
    
# good_GPA([1.0, 660.0, 3.27, 3.0])

selected_data = collect(data, good_GPA)
print(selected_data[0:5])
print(len(selected_data))

[[0.0, 380.0, 3.61, 3.0], [1.0, 660.0, 3.67, 3.0], [1.0, 800.0, 4.0, 1.0], [0.0, 700.0, 3.92, 2.0], [0.0, 800.0, 4.0, 4.0]]
156

---
**Problem 2**

How many applicants with GPA less than 3.5 and get accepted to the graduate school?

Be sure to answer the question(s) asked, and do what is asked. Explain your answers in English, and provide Python code to solve the problem. Be sure to read the instruction above.

**ANSWER:**

Here are the subtasks:
+ Define `condition` (for `collect`).
+ Use `collect` to get the data and count.

There are 59 applicants accepted with GPA less than 3.5.

See the code below.

In [19]:
def new_condition(item):
    gpa, decision = item[2], item[0]
    if (gpa<3.5) and (decision==1):
        return True
    else:
        return False
    
selected_data = collect(data, new_condition)
selected_data[0:5]

[[1.0, 640.0, 3.19, 4.0],
 [1.0, 760.0, 3.0, 2.0],
 [1.0, 560.0, 2.98, 1.0],
 [1.0, 540.0, 3.39, 3.0],
 [1.0, 760.0, 3.35, 2.0]]

In [20]:
print('There are', len(selected_data), 'data points.')

There are 59 data points.

---
**Problem 3**

Find the average rank of the university of applicants who get accepted to the graduate school.

Be sure to answer the question(s) asked, and do what is asked. Explain your answers in English, and provide Python code to solve the problem. Be sure to read the instruction above.

**ANSWER:**

The main steps are:
1. Get the selected applicants.
2. Use `transform` to transform each "item" to only the rank of the item.
3. Compute the average.

See the code below.

In [37]:
def is_accepted(item):
    return item[0]==1

accepted_applicants = collect(data, is_accepted)

In [38]:
# using list comprehension
ranks = [ item[-1] for item in accepted_applicants]

# using transform
def get_rank(item):
    return item[-1]

selected_data = transform(accepted_applicants, get_rank)
selected_data[0:5]
print(sum(selected_data) / len(selected_data))

2.1496062992125986

In [39]:
accepted_applicants[0:5]

[[1.0, 660.0, 3.67, 3.0],
 [1.0, 800.0, 4.0, 1.0],
 [1.0, 640.0, 3.19, 4.0],
 [1.0, 760.0, 3.0, 2.0],
 [1.0, 560.0, 2.98, 1.0]]

---
**Problem 4**

Find the maximum GPA and GRE.  Hint: you can use Python built-in `max` function together with `collect` or `transform` or both.

Be sure to answer the question(s) asked, and do what is asked. Explain your answers in English, and provide Python code to solve the problem. Be sure to read the instruction above.
 
Note: max([1,2,3,4]) returns 4.

**ANSWER:**

We will use `transform` to transform each item in the original data appropriately:
* To get the GREs, we transform each item to a single number (GRE).
* We do this similarly for GPAs.

The max GRE is 800, GPA is 4.0.

In [45]:
gres = transform(data, lambda item: item[1])
gpas = transform(data, lambda item: item[2])
print(max(gres), max(gpas))

800.0 4.0

In [40]:
data[0:5]

[[0.0, 380.0, 3.61, 3.0],
 [1.0, 660.0, 3.67, 3.0],
 [1.0, 800.0, 4.0, 1.0],
 [1.0, 640.0, 3.19, 4.0],
 [0.0, 520.0, 2.93, 4.0]]

---
**Problem 5**

Create a new data set with one additional field (representing "normalized academic performance"), which is the normalized average of GPA and GRE scores.

To normalize GPA (or GRE scores), divide each data point by the maximum value.  In other words, for each data point:
```
performance = 0.5 * (gre/max_gre + gpa/max_gpa)
```

### an example

Original data:
```
[
    [0.0, 380.0, 3.61, 3.0],
    ...
]
```

New dataset:
```
[
    [0.0, 380.0, 3.61, 3.0, 0.5*(380/max_gre + 3.61/max_gpa)],
    ...
]
```

**ANSWER:**

In [46]:
data[0]

[0.0, 380.0, 3.61, 3.0]

The tasks are:
* Extract the GRE and GPA for each item.
* To create a new dataset with this new normalized score, we'll use `transform`.

In [54]:
def normalize_score(item):
    gre, gpa = item[1], item[2]
    return 0.5 * (gre/800 + gpa/4.0)

def new_item(item):
    return [item[0], item[1], item[2], item[3], normalize_score(item)]

new_data = transform(data, new_item)
new_data[0:5]

[[0.0, 380.0, 3.61, 3.0, 0.68875],
 [1.0, 660.0, 3.67, 3.0, 0.87125],
 [1.0, 800.0, 4.0, 1.0, 1.0],
 [1.0, 640.0, 3.19, 4.0, 0.7987500000000001],
 [0.0, 520.0, 2.93, 4.0, 0.69125]]

In [52]:
normalize_score(data[0])

0.68875